@model Paginate<UserVM>
@{
    ViewData["Title"] = "Index";

}
<div class="card mt-5" style="width: 95%;margin-left: 34px;">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align: center;">UserName</th>
                    <th style="text-align: center;">First Name</th>
                    <th style="text-align: center;">Last Name</th>
                    <th style="text-align: center;">Email Name</th>
                    <th style="text-align: center;"> Operations</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var user in Model.Datas)
                {
                    <tr data-id="@user.Id">
                        <td class="py-1" style="text-align: center;">
                            @user.UserName
                        </td>
                        <td class="py-1" style="text-align: center;">
                            @user.FirstName.ToUpper()
                        </td>
                        <td class="py-1" style="text-align: center;">
                            @user.Email
                        </td>
                        <td class="py-1" style="text-align: center;">
                            <a class="btn btn-outline-danger delete-user">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example" style="padding-top: 18px;">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.HasPrevious ? " " : "disabled")">
                <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)">
                    <span class="page-link @(Model.HasNext ? " " : "disabled")" style="background: #696cffd9;color:#fff">Previous</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item  @(Model.CurrentPage == i ? "disabled" : "") ">
                    <a asp-action="Index" asp-route-page="@i"><span class="page-link">@i</span></a>
                </li>
            }
            <li class="page-item @(Model.HasNext ? " " : "disabled")" style="width: 83px;">
                <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" class="page-link" style="background: #696cffd9;color:#fff">Next</a>
            </li>
        </ul>
    </nav>
</div>
@section Scripts {

    <script src="~/admin/js/admin.js"></script>
}

