@model List<BlogComment>
@{
    ViewData["Title"] = "BlogComment";
}

<div class="card mt-5" style="width: 95%;margin-left: 34px;">
    <div class="table-responsive text-nowrap">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: center;">User Name</th>
                        <th style="text-align: center;">Comment</th>
                        <th style="text-align: center;">Blog Name</th>
                        <th style="text-align: center;"> Operations</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var comment in Model)
                    {
                        <tr data-id="@comment.Id">
                            <td class="py-1" style="text-align: center;">
                                @comment.Name
                            </td>
                            <td class="py-1" style="text-align: center;">
                                @comment.Message
                            </td>
                            <td class="py-1" style="text-align: center;">
                                @comment.Blog.Title
                            </td>
                            <td class="py-1" style="text-align: center;">
                                <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@comment.Id">Info</a>
                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <a class="btn btn-outline-danger delete-blogComment">Delete</a>
                                }
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>
@section Scripts {

    <script src="~/admin/js/admin.js"></script>
}
