@model ProductCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">
    <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
        <label style="padding-left:6px;" for="formFile" class="form-label my-2">Choose Photo</label>
        <input class="form-control" id="customFile" asp-for="Photos" />
        <span class="text-danger" asp-validation-for="Photos"></span>
        <div class="form-group">
            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Add Name</label>
            <input class="form-control" id="customFile" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name">@ViewBag.error</span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Add Price</label>
            <input class="form-control" asp-for="Price" type="number" step=".01" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Add Video</label>
            <input class="form-control" id="customFile" asp-for="Video" />
            <span class="text-danger" asp-validation-for="Video"></span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Add Rate</label>
            <input class="form-control" asp-for="Rate" type="number" />
            <span class="text-danger" asp-validation-for="Rate"></span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for=" formFile" class="form-label my-2">Add Color</label>
            <select class="form-control" id="customFile" asp-for="ColorIds" asp-items="@ViewBag.colors"></select>
            <span class="text-danger" asp-validation-for="ColorIds">@ViewBag.error</span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for=" formFile" class="form-label my-2">Add Size</label>
            <select class="form-control" id="customFile" asp-for="SizeIds" asp-items="@ViewBag.sizes"></select>
            <span class="text-danger" asp-validation-for="SizeIds">@ViewBag.error</span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for=" formFile" class="form-label my-2">Add Brand</label>
            <select class="form-control" id="customFile" asp-for="BrandId" asp-items="@ViewBag.brands"></select>
            <span class="text-danger" asp-validation-for="BrandId">@ViewBag.error</span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for=" formFile" class="form-label my-2">Add Compisition</label>
            <select class="form-control" id="customFile" asp-for="CompositionIds" asp-items="@ViewBag.compositions"></select>
            <span class="text-danger" asp-validation-for="CompositionIds">@ViewBag.error</span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for=" formFile" class="form-label my-2">Add Category</label>
            <select class="form-control" id="customFile" asp-for="CategoryIds" asp-items="@ViewBag.categories"></select>
            <span class="text-danger" asp-validation-for="CategoryIds">@ViewBag.error</span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for=" formFile" class="form-label my-2">Add Sale Count</label>
            <input class="form-control" asp-for="SaleCount" type="number" />
            <span class="text-danger" asp-validation-for="SaleCount"></span>
        </div>
        <div class="form-group">
            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Add Stock Count</label>
            <input class="form-control" asp-for="StockCount" type="number" />
            <span class="text-danger" asp-validation-for="StockCount"></span>
        </div>

        <div class="form-group">
            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Add Description</label>
            <textarea class="form-control" asp-for="Description" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="Description">@ViewBag.error</span>
        </div>
        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
 }



