@model ContactVM
@inject UserManager<AppUser> userManager;
@{
    ViewData["Title"] = "Contact";
}
@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
}
<!-- Start Main -->
<main>
    <section id="wrapper-contact" class="contact-background"
             style="background-image: url('/assets/images/@Model.SectionBackgroundImages["BasicSmallBackgroundImage"]')">
        <div class="container page_text">
            <h1>Contact us</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li><span>Contact us</span></li>
            </ul>
        </div>
    </section>
    <section id="map">
        <div class="container">
            <div class="map-cart">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24313.215380891517!2d49.86191205!3d40.3833254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2saz!4v1678084299482!5m2!1sen!2saz"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </section>
    <section id="contact">
        <div class="container">
            <div class="row contact-area">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="elementor-column-wrap">
                        <h2>Our store</h2>
                        <p>
                            @Model.Settings["Address"]
                        </p>
                        <h2>Our Business Hours</h2>
                        <p>
                            Monday – Friday:<br><span style="color: #000000;">@Model.Settings["WeekdaysTime"]</span><br>Saturday,
                            Sunday:<br><span style="color: #000000;">@Model.Settings["WeekendTime"]</span>
                        </p>
                        <h2>Our Contact Information</h2>
                        <p>
                            <span>@Model.Settings["Phone"]</span><br><span>@Model.Settings["Email"]</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <div class="elementor-column">
                        <div class="elementor-widget-container">
                             @if (User.Identity.IsAuthenticated)
                            {
                                <form class="elementor-form" method="post" asp-action="PostComment">
                                    <div class="input-area">
                                        <input type="text" placeholder="Your FirstName *" asp-for="FirstName" value="@userManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).FirstName">
                                        <input placeholder="Phone Number *" asp-for="Phone">
                                    </div>
                                    <div class="input-area">
                                        <input type="text" placeholder="Your Email *" asp-for="Email" value="@userManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).Email">
                                    </div>
                                    <textarea placeholder="Your Message"></textarea>
                                    <button type="submit">
                                        send your message
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form class="elementor-form" method="post" asp-controller="Account" asp-action="Login">
                                    <div class="input-area">
                                        <input type="text" placeholder="Your FirstName *">
                                        <input placeholder="Phone Number *">
                                    </div>
                                    <div class="input-area">
                                        <input type="text" placeholder="Your Email *">
                                    </div>
                                    <textarea placeholder="Your Message"></textarea>
                                    <button type="submit">
                                        send your message
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-top-contact">
        <div class="container">
            <div class="row">
                @foreach (var advertising in Model.Advertisings)
                {
                    <div class="col-lg-3 col-sm-12 col-12 col-md-3">
                        <div class="service-item">
                            <img src="~/assets/images/@advertising.Image">
                            <span class="title">@advertising.Name</span>
                            <p>@advertising.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
<!-- End Main -->
@section Scripts {
    <script src="~/assets/js/contact.js"></script>
}


