@model HomeVM
@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Marck+Script&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/slicky/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/slicky/slick-1.8.1/slick/slick-theme.css" />

}
<!-- Start Main -->
<main>
    <section id="slider">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach (var slider in Model.Sliders.Where(s => s.Id != Model.Sliders.LastOrDefault().Id))
                {
                    <div class="swiper-slide">
                        <img src="./assets/images/@slider.Image" alt="">
                        <div class="slide slide-1">
                            <div style="text-align:center!important">
                                <span class="saleName">@slider.Header</span>
                                <h1 class="sale">@slider.Title</h1>
                                <span class="caption-contain">
                                    @slider.ShortDesc
                                </span>
                            </div>

                            <a class=" shop btn-hover">
                                SHOP NOW
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </a>

                        </div>
                    </div>
                }
                <div class="swiper-slide">
                    <img src="./assets/images/@Model.Sliders.LastOrDefault().Image" alt="">
                    <div class="slide slide-2">
                        <span class="saleName">@Model.Sliders.LastOrDefault().Header</span>
                        <h1 class="sale">@Model.Sliders.LastOrDefault().Title</h1>
                        <span class="caption-contain">
                            @Model.Sliders.LastOrDefault().ShortDesc
                        </span>
                        <a class="shop btn-hover">
                            SHOP NOW
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="back-top d-none">
            <a><i class="fa-solid fa-angles-up"></i></a>
        </div>
    </section>
    <section id="introducing">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <div class="introducing-text">
                        <div class="intro-text">
                            <h4>@Model.HeaderBackgrounds["IntroducingHeader"]</h4>
                            <span>@Model.HeaderBackgrounds["IntroducingContent"]</span>
                        </div>
                    </div>
                    <div class="image">
                        <img src="~/assets/images/@Model.HomeBanner.SmallImage" alt="">
                    </div>
                    <div class="apImage">
                        <img class="rot" src="~/assets/images/wedding.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <div class="introducing-right">
                        <div class="introducing-image">
                            <img src="~/assets/images/@Model.HomeBanner.LargeImage" alt="">
                        </div>
                        <div class="info-text">
                            <h3>@Model.HomeBanner.Title</h3>
                            <p>
                                @Model.HomeBanner.Description.Substring(0,204)
                            </p>
                            <p>
                                @Model.HomeBanner.Description.Substring(204,215)
                            </p>
                            <a class="btn-about" asp-controller="About" asp-action="Index">
                                MORE ABOUT US
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <hr class="line">
    <section id="featured-products">
        <div class="container">
            <div class="header-background">
                <div class="header-background-content">
                    <h4>@Model.HeaderBackgrounds["FeaturedHeader"]</h4>
                    <span>@Model.HeaderBackgrounds["FeaturedContent"]</span>
                </div>
            </div>
        </div>
    </section>
    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-6">
                    <div class="cart">
                        <div class="new">New</div>
                        <div class="product-img">
                            <a asp-controller="ProductDetail" asp-action="Index">
                                <img src="~/assets/images/dress1.jpg" class="primary-img" alt="Card image cap">
                                <img src="~/assets/images/dresss1.jpg" class="secondary-img" alt="Card image cap">
                            </a>
                        </div>
                        <div class="product-name">
                            <span>Modern classic</span>
                            <span>Illusion Cap Sleeve Lace...</span>
                        </div>
                        <div class="product-price">
                            <p class="price">$<span class="price">23.90</span></p>
                        </div>
                        <div class="functional-buttons">
                            <ul>
                                <li><a><i class="fa-solid fa-eye"></i></a></li>
                                <li><a><i class="fa-regular fa-heart"></i></a></li>
                                <li><a><i class="fa-solid fa-basket-shopping"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                    <div class="cart">
                        <div class="new">New</div>
                        <div class="product-img">
                            <a asp-controller="ProductDetail" asp-action="Index">
                                <img src="~/assets/images/dress2.jpg" class="primary-img" alt="Card image cap">
                                <img src="~/assets/images/dresss2.jpg" class="secondary-img" alt="Card image cap">
                            </a>
                        </div>
                        <div class="product-name">
                            <span>Wedding dresses</span>
                            <span>Floral Beaded Wedding Dress...</span>
                        </div>
                        <div class="product-price">
                            <p class="price">$<span class="price">35.90</span></p>
                        </div>
                        <div class="functional-buttons">
                            <ul>
                                <li><a><i class="fa-solid fa-eye"></i></a></li>
                                <li><a><i class="fa-regular fa-heart"></i></a></li>
                                <li><a><i class="fa-solid fa-basket-shopping"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                    <div class="cart">
                        <div class="new">New</div>
                        <div class="product-img">
                            <a asp-controller="ProductDetail" asp-action="Index">
                                <img src="~/assets/images/dress3.jpg" class="primary-img" alt="Card image cap">
                                <img src="~/assets/images/dresss3.jpg" class="secondary-img" alt="Card image cap">
                            </a>
                        </div>
                        <div class="product-name">
                            <span>With corset lacing</span>
                            <span>Beaded Bodice with Tiered...</span>
                        </div>
                        <div class="product-price">
                            <p class="price">$<span class="price">29.90</span></p>
                        </div>
                        <div class="functional-buttons">
                            <ul>
                                <li><a><i class="fa-solid fa-eye"></i></a></li>
                                <li><a><i class="fa-regular fa-heart"></i></a></li>
                                <li><a><i class="fa-solid fa-basket-shopping"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                    <div class="cart">
                        <div class="new">New</div>
                        <div class="product-img">
                            <a asp-controller="ProductDetail" asp-action="Index">
                                <img src="~/assets/images/dress4.jfif" class="primary-img" alt="Card image cap">
                                <img src="~/assets/images/dresss4.jfif" class="secondary-img" alt="Card image cap">
                            </a>
                        </div>
                        <div class="product-name">
                            <span>Wedding Dresses</span>
                            <span>Floral Tall Plus Wedding...</span>
                        </div>
                        <div class="product-price">
                            <p class="price">$<span class="price">23.90</span></p>
                        </div>
                        <div class="functional-buttons">
                            <ul>
                                <li><a><i class="fa-solid fa-eye"></i></a></li>
                                <li><a><i class="fa-regular fa-heart"></i></a></li>
                                <li><a><i class="fa-solid fa-basket-shopping"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                    <div class="cart">
                        <div class="new">New</div>
                        <div class="product-img">
                            <a asp-controller="ProductDetail" asp-action="Index">
                                <img src="~/assets/images/dresss5.jpg" class="primary-img" alt="Card image cap">
                                <img src="~/assets/images/dress5.jpg" class="secondary-img" alt="Card image cap">
                            </a>
                        </div>
                        <div class="product-name">
                            <span>Minimalism</span>
                            <span>Short Sleeve Low Back...</span>
                        </div>
                        <div class="product-price">
                            <p class="price">$<span class="price">23.90</span></p>
                        </div>
                        <div class="functional-buttons">
                            <ul>
                                <li><a><i class="fa-solid fa-eye"></i></a></li>
                                <li><a><i class="fa-regular fa-heart"></i></a></li>
                                <li><a><i class="fa-solid fa-basket-shopping"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                    <div class="cart">
                        <div class="new">New</div>
                        <div class="product-img">
                            <a asp-controller="ProductDetail" asp-action="Index">
                                <img src="~/assets/images/dress7.jpeg" class="primary-img" alt="Card image cap">
                                <img src="~/assets/images/dresss7.jpeg" class="secondary-img" alt="Card image cap">
                            </a>
                        </div>
                        <div class="product-name">
                            <span>Minimalism</span>
                            <span>Illusion Sleeve Plunging...</span>
                        </div>
                        <div class="product-price">
                            <p class="price">$<span class="price">23.90</span></p>
                        </div>
                        <div class="functional-buttons">
                            <ul>
                                <li><a><i class="fa-solid fa-eye"></i></a></li>
                                <li><a><i class="fa-regular fa-heart"></i></a></li>
                                <li><a><i class="fa-solid fa-basket-shopping"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                    <div class="cart">
                        <div class="new">New</div>
                        <div class="product-img">
                            <a>
                                <img src="~/assets/images/dress6.jfif" class="primary-img" alt="Card image cap">
                                <img src="~/assets/images/dresss6.jfif" class="secondary-img" alt="Card image cap">
                            </a>
                        </div>
                        <div class="product-name">
                            <span>With long sleeve</span>
                            <span>Strapless Sweetheart Tulle...</span>
                        </div>
                        <div class="product-price">
                            <p class="price">$<span class="price">23.90</span></p>
                        </div>
                        <div class="functional-buttons">
                            <ul>
                                <li><a><i class="fa-solid fa-eye"></i></a></li>
                                <li><a><i class="fa-regular fa-heart"></i></a></li>
                                <li><a><i class="fa-solid fa-basket-shopping"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                    <div class="cart">
                        <div class="new">New</div>
                        <div class="product-img">
                            <a>
                                <img src="~/assets/images/dress8.jpg" class="primary-img" alt="Card image cap">
                                <img src="~/assets/images/dresss8.jpg" class="secondary-img" alt="Card image cap">
                            </a>
                        </div>
                        <div class="product-name">
                            <span>With puffed sleeves</span>
                            <span>Floral Applique Sheer...</span>
                        </div>
                        <div class="product-price">
                            <p class="price">$<span class="price">23.90</span></p>
                        </div>
                        <div class="functional-buttons">
                            <ul>
                                <li><a><i class="fa-solid fa-eye"></i></a></li>
                                <li><a><i class="fa-regular fa-heart"></i></a></li>
                                <li><a><i class="fa-solid fa-basket-shopping"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <div class="btn-show-more">
                <a asp-controller="Shop" asp-action="Index">
                    Show more
                    <i class="fa-solid fa-arrow-right-long"></i>
                </a>
            </div>

        </div>
    </section>
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="about-us-text">
                        <div class="intro-text">
                            <h4>@Model.AboutUs.Title</h4>
                            <p>
                                @Model.AboutUs.Description
                            </p>
                        </div>
                    </div>
                    <div class="image">
                        <img src="~/assets/images/@Model.AboutUs.SmallImage" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-right d-lg-block d-none">
                        <div class="about-us-img">
                            <img src="~/assets/images/@Model.AboutUs.LargeImage" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="btnn">
                <a class="btn-about" asp-controller="Shop" asp-action="Index">
                    Show Catalog
                    <i class="fa-solid fa-arrow-right-long"></i>
                </a>
            </div>

        </div>
    </section>
    <section id="brides-header">
        <div class="container">
            <div class="header-background">
                <div class="header-background-content">
                    <h4>@Model.HeaderBackgrounds["SalonHeader"]</h4>
                    <span>@Model.HeaderBackgrounds["SalonContent"]</span>
                </div>
            </div>
        </div>
    </section>
    <section id="brides">
        <div class="container">
            <div class="row">
                @foreach (var bride in Model.Brides)
                {
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="bride-img col-lg-block">
                            <img src="~/assets/images/@bride.Image">
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <section id="block-carousel"
             style="background-image: url('/assets/images/@Model.SectionBackgroundImages["HomeTeamSliderBackgroundImage"]');background-repeat: no-repeat;background-position: center;">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach (var team in Model.Teams)
                {
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="owl-item">
                                <div class="slider-content">
                                    <div class="block-image">
                                        <img src="~/assets/images/qoutes.png">
                                    </div>
                                    <div class="descript">
                                        @team.Testimonials
                                    </div>
                                    <div class="title">
                                        @team.Name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-button-next d-lg-block d-none"></div>
            <div class="swiper-button-prev d-lg-block d-none"></div>
            <div class="swiper-pagination"></div>
        </div>

    </section>
    <section id="latest-news">
        <div class="container">
            <div class="header-background">
                <div class="header-background-content">
                    <h4>@Model.HeaderBackgrounds["LatestNewsHeader"]</h4>
                    <span>@Model.HeaderBackgrounds["LatestNewsContent"]</span>
                </div>
            </div>
        </div>
    </section>
    <section id="blogs">
        <div class="container">
            <div class="row">
                <div class="blog-slider">
                    @foreach (var blog in Model.Blogs)
                    {
                        <div class="col-4">
                            <a>
                                <div class="blog">
                                    <div class="blog-content">
                                        <div class="blog-author">
                                            <span class="blogg">Blog:<span>@blog.Author.Name</span></span>
                                        </div>
                                        <div class="blog-date">
                                            <span class="created">
                                                @blog.CreatedDate.ToString("dd MMMMM yyyy")
                                            </span>
                                        </div>
                                        <div class="blog-meta">
                                            <div class="blog-title">
                                                <h4>@blog.Title</h4>
                                            </div>
                                        </div>
                                        <div class="read-more">
                                            <a>
                                                Read More
                                                <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="blog-img">
                                        <img src="~/assets/images/@blog.Image">
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </section>
    <section id="subscrive-header">
        <div class="container">
            <div class="header-background">
                <div class="header-background-content">
                    <h4>@Model.HeaderBackgrounds["InstagramHeader"]</h4>
                    <span>@Model.HeaderBackgrounds["InstagramContent"]</span>
                </div>
            </div>
            <div class="subscrive-title">
                <h3>@Model.HeaderBackgrounds["LoveHeader"]</h3>
            </div>
        </div>
    </section>
    <section id="subscrive">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="left-side">
                        <h3>@Model.Settings["SubscribeTitle"]</h3>
                        <h4>@Model.Settings["SubscribeDescription"]</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-md-6">
                    <div class="block-content">
                        <form>
                            <div class="input-area">
                                <input placeholder="Your email address">
                            </div>
                            <button type="submit">SUBSCRIBE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="footer-top">
        <div class="container">
            <div class="row">
                @foreach (var advertising in Model.Advertisings)
                {
                    <div class="col-lg-3 col-sm-12 col-12 col-md-3">
                        <div class="service-item">
                            <img src="~/assets/images/@advertising.Image">
                            <span class="title">@advertising.Name</span>
                            <p>@advertising.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
<!-- End Main -->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="~/assets/slicky/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/js/home.js"></script>
}
