@model ShopVM
@{
    ViewData["Title"] = "Shop";
    int? sumOfProductsCountByColor = 0;
    int? sumOfProductsCountBySize = 0;
    int? sumOfProductsCountByComposition = 0;
    int? sumOfProductsCountByBrand = 0;
}
@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

}
<!-- Start Main -->
<main>
    <section id="wrapper-shop" style="background-image: url('/assets/images/@Model.SectionBackgroundImages["BasicSmallBackgroundImage"]');">
        <div class="container page_text">
            <h1>Shop</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Shop
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li><span>Shop</span></li>
            </ul>
        </div>
    </section>
    <section id="shop-responsive-header">
        <div class="container">
            <div class="bridey-sorting d-lg-none d-block">
                <div class="d-flex" style="justify-content:space-between;align-items:center;">
                    <div class="filter-toggle">
                        <i class="fa-solid fa-sliders"></i><span>Filter</span>
                    </div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected="">Sort By Latest</option>
                        <option value="1">Sort By Popularity</option>
                        <option value="2">Sort By Avarage Rating</option>
                        <option value="3">Sort By Price:Low To High</option>
                        <option value="4">Sort By Price:High to Low</option>
                    </select>
                </div>

            </div>

        </div>
    </section>
    <section id="sort-area">
        <div class="container">
            <div class="sort d-lg-block d-none">
                <div class="d-flex" style="justify-content:space-between;align-items:center;">
                    <div class="sort-result">
                        <p>Showing <span>@Model.PaginateDatas.CurrentPage–@Model.PaginateDatas.TotalPage</span> of <span>@Model.PaginateDatas.Datas.Count()</span>   results</p>
                    </div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Sort By Latest</option>
                        <option value="1">Sort By Popularity</option>
                        <option value="2">Sort By Avarage Rating</option>
                        <option value="3">Sort By Price:Low To High</option>
                        <option value="4">Sort By Price:High to Low</option>
                    </select>
                </div>

            </div>
        </div>
    </section>
    <section id="wpb_wrapper">
        <div class="container container-shop">
            <div class="row">
                <div class="col-lg-3 d-lg-block d-none">
                    <div class="products-variants">
                        <div class="dresses-variants">
                            <h5>Categories</h5>
                            <ul>
                                <li>
                                    <a class="all-product">
                                        <div class="siluet">
                                            <img style="margin-left: 6px;"
                                                 src="~/assets/images/kruzhevnie.svg">
                                        </div>
                                        <span>All</span>
                                    </a>
                                </li>
                                @foreach (var category in Model.Categories)
                                {
                                    <li>
                                        <a data-id="@category.Id" class="category">
                                            <div class="siluet">
                                                <img style="margin-left: 6px;"
                                                 src="~/assets/images/@category.Image">
                                            </div>
                                            <span>@category.Name</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="product-area">
                            <div class="price-title">
                                <h3>FILTER BY PRICE</h3>
                            </div>
                            <div class="price-filter">
                                <div class="card">

                                    <div class="range-slider">
                                        <input type="range" class="min-price" value="100" min="10" max="500"
                                               step="10" style="accent-color: #d8d8d8;">
                                        <input type="range" class="max-price" value="250" min="10" max="500"
                                               step="10" style="accent-color: #d8d8d8;">
                                    </div>
                                    <div class="price-content">

                                        <div style="color: gray;">
                                            <p>Price:</p>
                                        </div>
                                        <div>
                                            <p id="min-value">50</p>
                                        </div>

                                        <div>
                                            <p id="max-value">500</p>
                                        </div>
                                        <div class="filter-button">
                                            <button>FILTER</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-title-holder">
                            <h5>Colors</h5>
                            <ul>
                                <li>
                                    <a class="all-product">
                                        All
                                        @foreach (var item in Model.Colors)
                                        {
                                            sumOfProductsCountByColor += item.ProductColors?.Count();
                                        }
                                        <span>(@sumOfProductsCountByColor)</span>
                                    </a>
                                </li>
                                @foreach (var color in Model.Colors)
                                {
                                    <li>
                                        <a data-id="@color.Id" class="color">@color.Name <span>(@color.ProductColors?.Count())</span></a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="widget-title-holder">
                            <h5>Sizes</h5>
                            <ul>
                                <li>
                                    <a class="all-product">
                                        All
                                        @foreach (var item in Model.Sizes)
                                        {
                                            sumOfProductsCountBySize += item.ProductSizes?.Count();
                                        }
                                        <span>(@sumOfProductsCountBySize)</span>
                                    </a>
                                </li>
                                @foreach (var size in Model.Sizes)
                                {
                                    <li>
                                        <a data-id="@size.Id" class="size">@size.Name <span>(@size.ProductSizes?.Count())</span></a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="compositions">
                            <h5>Composition</h5>
                            <div class="widget-title-holder">
                                <ul>
                                    <li>
                                        <a class="all-product">
                                            All
                                            @foreach (var item in Model.Compositions)
                                            {
                                                sumOfProductsCountByComposition += item.ProductCompositions?.Count();
                                            }
                                            <span>(@sumOfProductsCountByComposition)</span>
                                        </a>
                                    </li>
                                    @foreach (var composition in Model.Compositions)
                                    {
                                        <li>
                                            <a data-id="@composition.Id" class="composition">@composition.Name <span>(@composition.ProductCompositions?.Count())</span></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="widget-title-holder">
                            <h5>Brands</h5>
                            <ul>
                                <li>
                                    <a class="all-product">
                                        All
                                        @foreach (var item in Model.Brands)
                                        {
                                            sumOfProductsCountByBrand += item.Products?.Count();
                                        }
                                        <span>(@sumOfProductsCountByBrand)</span>
                                    </a>
                                </li>
                                @foreach (var brand in Model.Brands)
                                {
                                    <li>
                                        <a data-id="@brand.Id" class="brand">@brand.Name <span>(@brand.Products?.Count())</span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="banner">
                            <img src="~/assets/images/@Model.Sale.Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <div class="row productss-area">
                     <partial name="_ProductsPartial" model="Model.PaginateDatas" />
                    </div>
           
                </div>
            </div>
        </div>
    </section>
    <section id="footer-top-shop">
        <div class="container">
            <div class="row">
                @foreach (var brand in Model.Brands)
                {
                    <div class="col-lg-3 col-sm-12 col-12 col-md-3">
                        <div class="service-item">
                            <div class="service-item">
                                <img src="./assets/images/@brand.Image">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
<!-- End Main -->
@section Scripts {
    <script src="~/assets/js/shop.js"></script>
}


