@model BlogVM
@{
    ViewData["Title"] = "Blog";
}

<!-- Start Main -->
<main>
    <section id="wrapper-blog" style="background-image: url('/assets/images/@Model.SectionBackgroundImages["BasicSmallBackgroundImage"]')">
        <div class="container page_text">
            <h1>Blog</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li><span>Blog us</span></li>
            </ul>
        </div>
    </section>
    <section id="blogss">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12 col-md-12 container-blog">
                    <div class="row">
                        @foreach (var blog in Model.PaginatedDatas.Datas)
                        {
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                <div class="blog-cart">
                                    <div class="post-thumb">
                                        <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@blog.Id">
                                            <img src="~/assets/images/@blog.Image">
                                        </a>
                                        <span><a>Dress Details</a></span>
                                    </div>
                                    <div class="post-info">
                                        <a asp-controller="BlogDetail" asp-action="Index"></a>
                                        <h3>@blog.Title</h3>
                                        <div class="entry-meta">
                                            <span class="post-author">
                                                POST
                                                BY
                                            </span><span>@blog.Author.Name</span><span class="time">@blog.CreatedDate.ToString("dd MMMMM yyyy")</span>
                                        </div>
                                        <p>
                                            @blog.Description.Substring(0,100)…
                                        </p>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item  @(Model.PaginatedDatas.HasPrevious? " " :"d-none")">
                                <a style="color:#fff" asp-action="Index" asp-route-page="@(Model.PaginatedDatas.CurrentPage -1)" tabindex="-1" aria-label="Previous"><button class="left-btn"><i class="fa-solid fa-angles-left"></i></button></a>
                            </li>

                            @for (int i = 1; i <= Model.PaginatedDatas.TotalPage; i++)
                            {

                                <li class="page-item active @(Model.PaginatedDatas.CurrentPage == i ? "disabled" : "")">
                                    <a style="text-decoration:none;color:#fff" asp-action="Index" asp-route-page="@i"><button class="btn">@i</button></a>
                                </li>

                            }
                            <li class="page-item @(Model.PaginatedDatas.HasNext? " " :"d-none")">
                                <a style="color:#fff" asp-action="Index" asp-route-page="@(Model.PaginatedDatas.CurrentPage +1)" aria-label="Next"><button class="right-btn"><i class="fa-solid fa-angles-right"></i></button></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3  col-sm-12 col-md-12">
                    <div class="right-side">
                        <div class="search-area d-lg-block d-none">
                            <div class="widget-search">
                                <h2 class="search-title">Search</h2>
                            </div>
                            <form class="wg-search-form">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">Categories</h2>
                        </div>
                        <div class="widget-content">
                            <ul>
                                @foreach (var category in Model.Categories)
                                {
                                    <li>
                                        <a asp-controller="Shop" asp-action="Index" asp-route-cateId="@category.Id">@category.Name<span>(@category.ProductCategories?.Count())</span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">RECENT POSTS</h2>
                        </div>
                        <div class="list-posts">
                            @foreach (var blog in Model.Blogs)
                            {
                                <div class="item-post d-flex">
                                    <div class="post-thumb">
                                        <a asp-controller="Blog" asp-action="BlogDetail">
                                            <img src="~/assets/images/@blog.Image">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span class="date-post">@blog.CreatedDate.ToString("dd.MMMMM.yyyy")</span>
                                        <h3 class="post-title"><a class="dark">@blog.Title</a></h3>
                                        <span class="comment-count silver">0 Comments</span>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">Composition</h2>
                        </div>
                        <div class="tagcloud">
                            @foreach(var composition in Model.Compositions)
                            {
                                <a asp-controller="Shop" asp-action="Index" asp-route-compositionId="@composition.Id">@composition.Name</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-top-blog">
        <div class="container">
            <div class="row">
                @foreach (var advertising in Model.Advertisings)
                {
                    <div class="col-lg-3 col-sm-12 col-12 col-md-3">
                        <div class="service-item">
                            <img src="~/assets/images/@advertising.Image">
                            <span class="title">@advertising.Name</span>
                            <p>@advertising.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
<!-- End Main -->
@section Scripts {
    <script src="~/assets/js/blog.js"></script>
}


