@model AboutVM
@{
    ViewData["Title"] = "About";
}
@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Marck+Script&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

}
<!-- Start Main -->
<main>
    <section id="wrapper-about" style="background-image: url('/assets/images/@Model.SectionBackgroundImages["BasicSmallBackgroundImage"]');">
        <div class="container page_text">
            <h1>About us</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li><span>About us</span></li>
            </ul>
        </div>
    </section>
    <section id="story-content">
        <div class="container container-about">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <div class="block-ApImage">
                        <img src="~/assets/images/@Model.AboutBanner.LargeImage">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <div class="content-text">
                        <div class="intro-text">
                            <h4>@Model.AboutBanner.Title</h4>
                        </div>
                        <div class="text-about">
                            <p>
                               @Model.AboutBanner.Description
                            </p>
                        </div>
                        <div class="image-form">
                            <img src="~/assets/images/@Model.AboutBanner.SmallImage">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="our-contact">
        <div class="container">
            <div class="blok-ApRawHtml">
                <div class="contact-area">
                    <p>
                        @Model.HeaderBackgrounds["HeaderContact"]
                    </p>
                    <a asp-controller="Contact" asp-action="Index" class="btn-hov">
                        Contact
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </a>

                </div>

            </div>
        </div>
    </section>
    <section id="title_block">
        <div class="container">
            <div class="sub-title">
                <p>@Model.HeaderBackgrounds["BridalIndustryContent"]</p>
                <h2>@Html.Raw(Model.HeaderBackgrounds["HeaderBridalIndustry"])</h2>
                <img src="~/assets/images/decor.png">
            </div>
        </div>

    </section>
    <section id="about-box">
        <div class="container">
            <div class="row">
                @foreach(var aboutBox in Model.AboutBoxes)
                {
                    <div class="col-lg-3 col-sm-12 col-md-6">
                    <div class="about-item">
                        <div class="top" style="display:flex;">
                            <div class="icon">
                                <img src="~/assets/images/@aboutBox.Image">
                            </div>
                            <div class="title">@aboutBox.Title</div>
                        </div>
                        <div class="about-text">
                            <p>
                               @aboutBox.Description
                            </p>
                        </div>
                    </div>
                </div> 
                }
            </div>
        </div>
    </section>
    <section id="block-carousel-about"
             style="background-image: url('/assets/images/@Model.SectionBackgroundImages["AboutTeamSliderImage"]');background-repeat: no-repeat;background-position: center;">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach(var team in Model.Teams)
                {
                  <div class="swiper-slide">
                    <div class="slide">
                        <div class="owl-item">
                            <div class="slider-content slide-cont">
                                <div class="user-img">
                                    <img src="~/assets/images/@team.Image">
                                </div>
                                <div class="descript slide-color">
                                    @team.Testimonials
                                </div>

                                <div class="title slide-color">
                                    @team.Name
                                </div>
                                <div class="job">@team.Position.Name</div>
                            </div>
                        </div>
                    </div>
                </div>  
                }
            </div>
            <div class="swiper-button-next d-lg-block d-none"></div>
            <div class="swiper-button-prev d-lg-block d-none"></div>
            <div class="swiper-pagination about-pagination"></div>
        </div>
    </section>
    <section id="footer-top-about">
        <div class="container">
            <div class="row">
                @foreach(var advertising in Model.Advertisings)
                {
                   <div class="col-lg-3 col-sm-12 col-12 col-md-3">
                    <div class="service-item">
                        <img src="~/assets/images/@advertising.Image">
                        <span class="title">@advertising.Name</span>
                        <p>@advertising.Description</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>

</main>
<!-- End Main -->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/assets/js/about.js"></script>
}




